p{
	width: 400px;
	text-align: justify;
}

@media screen and (min-width: 992px) 
and (max-width: 1000px) {
	body{
		background-color: yellow;
	}
}

@media screen and (min-width: 600px) 
and (max-width: 992px){
	body{
		background-color: blue;
	}
}

@media screen and (min-width: 400px) 
and (max-width: 600px){
	body{
		background-color: red;
		color: #fff;
	}
}

@media screen and (min-width: 0px) 
and (max-width: 400px){
	body{
		background-color: gray;
		color: #fff;
	}
}